@font-face {
    font-family: 'InterFonts';
    src: url("~/fonts/InterDisplay-Regular") format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'EurostileExtended';
    src: url("~/fonts/Eurostile Extended-Boldnpm .ttf") format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  